body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
header{
    height: 100px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#nav_main{
    text-align: center;
}

#nav_esquerda{
    display: inline-block;
    width: 500px;
    height: 50px;
    margin-top: 20px;
    text-transform: uppercase;
}

#nav_esquerda a {
    padding: 10px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

#nav_esquerda a:hover{
    color: #BB221A;
    transition: all 0.4s;
}

#logo{
    display: inline-block;
    width: 80px;
    height: 80px;
}

#nav_direita{
    display: inline-block;
    width: 500px;
    height: 50px;
    margin-top: 20px;
    text-transform: uppercase;
}

#nav_direita a {
    padding: 10px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

#nav_direita a:hover{
    color: #BB221A;
}

main {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
main img{
    width: 100%;
}
footer{
    height: 300px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
main div{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 40px;
}